
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Nerko+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    transition: 0.3s;
}
.mainContainer{
    padding: 30px;
    font-family: "roboto";
}
::-webkit-scrollbar{
    display: none;
}
.card-1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
}
.hh1{
    font-size: 35px;
}
.live-heading{
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: #292929;
}
.h3{
    font-size: 34px;
    padding-top: 30px;
}
.icon{
    font-size: 35px;
    color: #ffbb00;
}
.ab{
    text-align: center;
    font-size: 34px;
    padding-top: 30px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.img-l{
    width: 250px;
    margin-bottom: 19px;
}
.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    padding-top: 30px;
}
hr{
    margin-top: 20px;
    border-color: #292929;
}
.cd{
    padding: 13px;
    border: 2px solid #ffbb00;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}
.cd:hover{
    scale: 1.1;
}
.icon1{
    color:#292929;
    cursor: pointer;
    font-size: 24px;
    transition: 0.2s;
}
.icon1:hover{
    scale: 1.1;
    color: #ffbb00;
    transition: 0.2s;
}
p{
    color: #292929;
}
.live-section{
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 30px;
    padding-top:100px;
    justify-content: space-around;
    scroll-behavior: smooth;
}
.h1{
    padding-bottom: 8px;
    padding-top: 3px;
}
.live-items{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.features-section{
    display: flex;
    gap: 20px;
    width: 450px;
}
p{
    line-height: 1.5;
}
.vd{
    border-radius: 40px;
}
.cl{
    cursor: pointer;
    color:#ffbb00;
    scroll-behavior: smooth;
    font-size: 20px;
}
.cen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.img1{
    width: 340px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;

}
.fl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.icon2{
    color: #ffbb00;
    font-size: 24px;
    margin-right: 6px;
}
.gallery-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    gap: 20px;
}
.vd1{
    display: none;
}
.con{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


@media(max-width:800px){
    .live-section{
        flex-direction: column;
        align-items: center;
    }
    .live-heading{
        font-size: 26px;
    }
    .img-l{
        width: 190px;
    }
    .hh1{
        font-size: 29px;
    }
    .icon{
        font-size: 49px;
        padding: 0px;
        margin: 0px;
    }
    .h1{
        font-size: 22px;
        padding-top: 12px;
    }
    .features-section{
        width: 100%;
    }
    .live-section{
        padding-top: 50px;
    }
    .h3{
        font-size: 32px;
    }
    .gallery-section{
        flex-direction: column;
        gap: 30px;
        padding: 0px;
        padding-top: 20px;
    }
    .services{
        gap: 20px;
    }
    .img1{
        width: 90%;
    }
    .pp{
        text-align: center;
    }
    .vd{
        display: none;
    }
    .vd1{
        display: block;
    }
}